﻿@page
@model ProjectPRN221.Pages.Cart.CartModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy/jTI6AAeGXhR5gce2CCD9gXaHb8Mq7xj" crossorigin="anonymous">
    <style>
        body {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .total-row {
            font-weight: bold;
        }

        .form-group {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <h1>Giỏ hàng</h1>

    <form method="post">
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Cart != null && Model.Cart.Count > 0)
                {
                    decimal total = 0;
                    @for (int i = 0; i < Model.Cart.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model.Cart[i].Product.ProductName </td>
                            <td>
                                <input type="number" name="CartItems[@i].Quantity" value="@Model.Cart[i].num" onchange="redirectToCart(@Model.Cart[i].Product.ProductId)" />

                                <script>
                                    function redirectToCart(productId) {
                                        var num = document.querySelector(`input[name="CartItems[@i].Quantity"]`).value;
                                        var url = `../Cart/AddToCart?id=${productId}&num=${num}`;
                                        window.location.href = url;
                                    }
                                </script>
                            </td>
                            <td>@(@Model.Cart[i].num * @Model.Cart[i].Product.UnitPrice)</td>
                            <td>
                                <a href="../Cart/RemoveCart?id=@Model.Cart[i].Product.ProductId">Remove</a>
                            </td>
                        </tr>
                        total += (Model.Cart[i].num * Model.Cart[i].Product.UnitPrice);
                    }
                    <tr>
                        <td colspan="1">Total:</td>
                        <td colspan="2"></td>
                        <td> @total</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>


        <div>
            <label for="requiredDate">Date:</label>
            <input type="date" id="requiredDate" name="RequiredDate" required /> <br />
            <label for="phone">Phone:</label>
            <input  id="Phone" name="Phone" required /> <br />
            <label for="address">Address:</label>
            <input  id="Address" name="Address" required />

        </div>

       

        <div>
            <input type="submit" value="Tạo Bill" />
            <span asp-validation-for="Cart" class="text-danger"></span>
        </div>
    </form>
</body>
</html>
