﻿@page
@model ProjectPRN221.Pages.Bill_View.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Delete Bill</h1>

    <div class="row">
        <div class="col-md-6">
            <h3>Are you sure you want to delete this?</h3>
            <h4>Bill Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Bill Date:</dt>
                <dd class="col-sm-8">@Model.Bill.BillDate.ToString("dd/MM/yyyy")</dd>

                <dt class="col-sm-4">Seller:</dt>
                <dd class="col-sm-8">@Model.Bill.Account.FullName</dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="Bill.BillId" />

                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
