﻿@page
@model ProjectPRN221.Pages.Bill_View.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Bill Details</h1>

    <div class="row">
        <div class="col-md-6">
            <h4>Bill Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Bill Date:</dt>
                <dd class="col-sm-8">@Model.Bill.BillDate.ToString("dd/MM/yyyy")</dd>

                <dt class="col-sm-4">Seller:</dt>
                <dd class="col-sm-8">@Model.Bill.Account.FullName</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-page="./Edit" asp-route-id="@Model.Bill?.BillId" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
