﻿@page
@model ProjectPRN221.Pages.Bill_View.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Edit Bill</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Bill.BillId" />
                
                <div class="form-group">
                    <label asp-for="Bill.AccountId" class="control-label">Seller</label>
                    <select asp-for="Bill.AccountId" class="form-control" value="@Model.Bill.AccountId">
                    @if (Model.Bill != null)
                    {
                        @foreach (var account in @Model.Accounts)
                        {
                            <option value="@account.AccountId">@account.FullName</option>
                        }
                    }
                </select>
                    <span asp-validation-for="Bill.AccountId" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Bill.BillDate" class="control-label">Bill Date</label>
                    <input asp-for="Bill.BillDate" class="form-control" />
                    <span asp-validation-for="Bill.BillDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-3">
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
