﻿
@page
@using ProjectPRN221.Models;
@model ProjectPRN221.Pages.Bill_View.IndexModel

@{
    ViewData["Title"] = "Bill Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    @{
        decimal grandTotalAmount = 0;
    }
    <div class="mt-3">
        <strong>Total Amount for Displayed Bills:</strong> @grandTotalAmount
    </div>
    <h1>Bill</h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Bill Date</th>
                    <th>Seller</th>
                
                    <th>Total Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
              
                @foreach (var item in Model.Bill)
                {
                    decimal totalAmount = 0;
                    <tr>
                        <td>@item.BillDate.Date.ToString("dd/MM/yyyy")</td>
                        <td>@Html.DisplayFor(modelItem => item.Account.FullName)</td>
                       
                        <td>
                            @{
                                foreach (var detail in item.BillDetails)
                                {
                                    totalAmount += detail.UnitPrice * detail.Quantity;
                                }

                                grandTotalAmount += totalAmount;
                            }
                            @totalAmount
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                @{
                                    Account account = null;
                                    if (HttpContext.Session.TryGetValue("Account", out var AccountData1))
                                    {
                                        account = System.Text.Json.JsonSerializer.Deserialize<Account>(AccountData1);
                                        int accountId = account.AccountId;
                                        if (account.Role == 1)
                                        {
                                            <a asp-page="./Edit" asp-route-id="@item.BillId" class="btn btn-warning" >Edit</a>
                                            <a asp-page="./Delete" asp-route-id="@item.BillId" class="btn btn-danger" style="margin-left:5px">Delete</a>
                                        }
                                        //<a asp-page="./Details" asp-route-id="@item.BillId" class="btn btn-info" style="margin-left:5px">Details</a>

                                    }
                                }

                                <a class="btn btn-info" style="margin-left:5px" href="/BillDetail_View/Index?BillId=@item.BillId">Bill Details</a>
                            </div>
                        </td>
                    </tr>
                }
               
            </tbody>
        </table>
    </div>
</div>
