﻿@page
@model ProjectPRN221.Pages.Account_View.AccountManagerModel

@{
    ViewData["Title"] = "Account Manager";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Account Manager</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Account)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Username)</td>
                    <td>@Html.DisplayFor(modelItem => item.Password)</td>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Role)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
