﻿@page
@model ProjectPRN221.Pages.Account_View.ProfileModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy7u+pzT9KXLNl3eZfP7FSqz" crossorigin="anonymous">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        header {
            color: #fff;
            padding: 15px 0;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        }

        nav {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        }

            nav a {
                color: #333;
                font-weight: bold;
                margin-right: 15px;
                transition: color 0.3s;
            }

                nav a:hover {
                    color: #007bff;
                    text-decoration: none;
                }

        main {
            background-color: #ffffff;
            margin-top: 20px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        }

        footer {
            padding: 20px 0;
            color: #fff;
            text-align: center;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
    </style>
</head>
<body>
    <header>
        <!-- Your navigation bar goes here -->
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <h1>Profile</h1>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Account Information</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-3">Username</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Account.Username)</dd>

                        <dt class="col-sm-3">Password</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Account.Password)</dd>

                        <dt class="col-sm-3">Full Name</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Account.FullName)</dd>
                    </dl>
                </div>
                <div class="card-footer">
                    @*<a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Account?.AccountId">Edit</a>*@
                    <a class="btn btn-secondary" href="/Home/Home">Back to Home</a>
                </div>
            </div>
        </main>
    </div>

   

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUc1LIw" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy7u+pzT9KXLNl3eZfP7FSqz" crossorigin="anonymous"></script>
</body>
</html>
