﻿@page
@model ProjectPRN221.Pages.Supplier_View.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Create Supplier</h1>

    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Supplier.CompanyName" class="form-label">Company Name</label>
                    <input asp-for="Supplier.CompanyName" class="form-control" />
                    <span asp-validation-for="Supplier.CompanyName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Supplier.Address" class="form-label">Address</label>
                    <input asp-for="Supplier.Address" class="form-control" />
                    <span asp-validation-for="Supplier.Address" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Supplier.Phone" class="form-label">Phone</label>
                    <input asp-for="Supplier.Phone" class="form-control" />
                    <span asp-validation-for="Supplier.Phone" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Supplier.FullName" class="form-label">Full Name</label>
                    <input asp-for="Supplier.FullName" class="form-control" />
                    <span asp-validation-for="Supplier.FullName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-3">
        <a asp-page="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
