﻿@page
@model ProjectPRN221.Pages.Supplier_View.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Delete Supplier</h1>

    <div class="row">
        <div class="col-md-6">
            <h3>Are you sure you want to delete this?</h3>

            <div class="mt-3">
                <h4>Supplier Details</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        Company Name
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Supplier.CompanyName)
                    </dd>
                    <dt class="col-sm-2">
                        Address
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Supplier.Address)
                    </dd>
                    <dt class="col-sm-2">
                        Phone
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Supplier.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        Full Name
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Supplier.FullName)
                    </dd>
                </dl>
            </div>

            <form method="post" class="mt-3">
                <input type="hidden" asp-for="Supplier.SupplierId" />
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>
