﻿@page
@model ProjectPRN221.Pages.Supplier_View.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Supplier Details</h1>

    <div class="row">
        <div class="col-md-6">
            <h4>Supplier Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Company Name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Supplier.CompanyName)
                </dd>
                <dt class="col-sm-2">
                    Address
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Supplier.Address)
                </dd>
                <dt class="col-sm-2">
                    Phone
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Supplier.Phone)
                </dd>
                <dt class="col-sm-2">
                    Full Name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Supplier.FullName)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-page="./Edit" asp-route-id="@Model.Supplier?.SupplierId" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
