﻿@page
@model ProjectPRN221.Pages.Supplier_View.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Edit Supplier</h1>

    <div class="row">
        <div class="col-md-6">
            <h4>Edit Supplier Information</h4>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Supplier.SupplierId" />
                <div class="form-group">
                    <label asp-for="Supplier.CompanyName" class="control-label">Company Name</label>
                    <input asp-for="Supplier.CompanyName" class="form-control" />
                    <span asp-validation-for="Supplier.CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Supplier.Address" class="control-label">Address</label>
                    <input asp-for="Supplier.Address" class="form-control" />
                    <span asp-validation-for="Supplier.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Supplier.Phone" class="control-label">Phone</label>
                    <input asp-for="Supplier.Phone" class="form-control" />
                    <span asp-validation-for="Supplier.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Supplier.FullName" class="control-label">Full Name</label>
                    <input asp-for="Supplier.FullName" class="form-control" />
                    <span asp-validation-for="Supplier.FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="mt-3">
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
