﻿@page
@model ProjectPRN221.Pages.Supplier_View.IndexModel

@{
    ViewData["Title"] = "Supplier List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Supplier List</h1>

    <p>
        <a class="btn btn-primary" asp-page="Create">Add New Supplier</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Company Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Full Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Supplier)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Supplier Actions">
                                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.SupplierId">Details</a>
                                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.SupplierId">Edit</a>
                                @*<a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.SupplierId">Delete</a>*@
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
