﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/shopping-1165437_1280.jpg" alt="Shop Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1 class="display-4">Welcome to My Shop</h1>
            <p class="lead">Nguyen Van Phuong - HE161526 - FPT University</p>
            <p>Explore our wide range of categories and find the perfect items for you.</p>
            <a class="btn btn-primary btn-lg" href="/Home/Home" role="button">Shop Now</a>
        </div>
    </div>
</div>
<section id="billboard" class="overflow-hidden">
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-item" style="background-image: url(~/Images/swing.jpg); background-repeat: no-repeat; background-position: right; height: 682px;">
                                <div class="banner-content padding-large">
                                    <h1 class="display-1 text-uppercase text-dark pb-2">wooden table set</h1>
                                    <p>Aliquet donec ut arcu risus amet mattis diam gravida. Ac vestibulum quis proin in aliquam et et auctor. Amet urna est arcu euismod egestas morbi nunc lacus. Nec id rutrum mauris commodo habitant amet quisque. Velit ornare pellentesque facilisi in odio nibh.</p>
                                    <a href="/Home/Home" class="btn btn-medium btn-arrow position-relative mt-5">
                                        <span class="text-uppercase">Shop Now</span>
                                        <svg class="arrow-right position-absolute" width="18" height="20">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
