﻿@page
@model ProjectPRN221.Pages.Product_View.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1 class="text-center">Create New Product</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Product.ProductName" class="control-label">Product Name</label>
                    <input asp-for="Product.ProductName" class="form-control" />
                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.SupplierId" class="control-label">Supplier</label>
                    <select asp-for="Product.SupplierId" class="form-control">
                        @foreach (var supplier in Model.Suppliers)
                        {
                            <option value="@supplier.SupplierId">@supplier.CompanyName</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Product.CategoryId" class="control-label">Category</label>
                    <select asp-for="Product.CategoryId" class="form-control">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.CategoryId">@category.CategoryName</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Product.QuantityPerUnit" class="control-label">Quantity Per Unit</label>
                    <input asp-for="Product.QuantityPerUnit" class="form-control" />
                    <span asp-validation-for="Product.QuantityPerUnit" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.UnitPrice" class="control-label">Unit Price</label>
                    <input asp-for="Product.UnitPrice" class="form-control" />
                    <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.Date" class="control-label">Date</label>
                    <input asp-for="Product.Date" type="date" class="form-control" />
                    <span asp-validation-for="Product.Date" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="ImageFile">Choose Image File</label>
                    <input type="file" id="ImageFile" name="ImageFile" class="form-control-file" />
                    <span asp-validation-for="Product.ProductImage" class="text-danger"></span>

                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Create Product</button>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-page="Index" class="btn btn-secondary">Back to Product List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}