﻿@page
@model ProjectPRN221.Pages.Product_View.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Delete</h1>

    <h3 class="mt-4">Are you sure you want to delete this product?</h3>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.QuantityPerUnit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.QuantityPerUnit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.UnitPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.UnitPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ProductImage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ProductImage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Category.CategoryId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Supplier)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Supplier.SupplierId)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Product.ProductId" />
            <button type="submit" class="btn btn-danger">Delete</button> |
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>