﻿@page
@model ProjectPRN221.Pages.Product_View.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Product Details</h1>

    <div>
        <h4 class="mt-4">Product Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.QuantityPerUnit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.QuantityPerUnit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.UnitPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.UnitPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ProductImage)
            </dt>
            <dd class="col-sm-10">
                <img src="@Url.Content(@Model.Product.ProductImage)" alt="Product Image" class="img-thumbnail" style="max-width: 200px;" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Category.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Supplier)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Supplier.CompanyName)
            </dd>
        </dl>
    </div>

    <div class="mt-3">
        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Product?.ProductId">Edit</a> |
        <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
    </div>
</div>