﻿@page
@using ProjectPRN221.Models;
@model ProjectPRN221.Pages.Product_View.IndexModel
@using Microsoft.AspNetCore.Http;


@{
    ViewData["Title"] = "Product List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1 class="text-center mb-4">Statistic</h1>
<div class="dashboard">
    <div class="dashboard-item">
        <div style="background-color: #f5f5f5; border-radius: 12px; width:320px" class="py-2 px-4">
            <div class="total-label">OutofStock</div>
            <div class="info-values">
                @foreach(var product in Model.Product)
                {
                    if(int.Parse(product.QuantityPerUnit) == 0){
                        <p>Product Name:@product.ProductName</p>
                        <p>Date Added:@product.Date.ToString("dd/MM/yyyy")</p>
                        <p style="border:1px; color:red; width:100%">.</p>

                    }
                }               
            </div>
        </div>
        <div style="background-color: #f5f5f5; border-radius: 12px; width:320px" class="py-2 px-4">
            <div class="total-label">Low Stock</div>
            <div class="info-values">
                @foreach (var product in Model.Product)
                {
                    if (int.Parse(product.QuantityPerUnit) <= 5 && int.Parse(product.QuantityPerUnit) > 0)
                    {
                        <p>Product Name:@product.ProductName</p>
                        <p>Date Added:@product.Date.ToString("dd/MM/yyyy")</p>
                        <p style="border:1px; color:red; width:100%">.</p>

                    }
                }
            </div>
        </div>
        <div style="background-color: #f5f5f5; border-radius: 12px; width:320px" class="py-2 px-4">
            <div class="total-label">Inventory</div>
            <div class="info-values">
                 @foreach (var product in Model.Product)
                {
                    if (int.Parse(product.QuantityPerUnit) >=19 )
                    {
                        <p>Product Name:@product.ProductName</p>
                        <p>Date Added:@product.Date.ToString("dd/MM/yyyy")</p>
                        <p style="border:1px; color:red; width:100%">.</p>

                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">

    <h1 class ="text-center mb-4">Product List</h1>

    <p>
        <a class="btn btn-primary" asp-page="Create">Add New Product</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped mt-3">
            <thead class="thead-light">
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Product Image</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th>CreateBy</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Product)
                {
                    if (int.Parse(item.QuantityPerUnit) != 0)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                            <td>@Html.DisplayFor(modelItem => item.QuantityPerUnit)</td>
                            <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                            <td>
                                <img src="@Url.Content(item.ProductImage)" alt="Product Image" class="img-thumbnail" style="max-width: 100px;" />
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                            <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Supplier.CompanyName)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreateBy)</td>


                            <td>
                                @{

                                    if (int.Parse(item.QuantityPerUnit) == 0)
                                    {
                                        <p style="color:red">Out of Stock</p>
                                    }
                                    else if (int.Parse(item.QuantityPerUnit) <= 5)
                                    {
                                        <p style="color:red">Low Stock</p>
                                    }
                                }


                            </td>



                            <td>

                                <div class="btn-group" role="group" aria-label="Product Actions">
                                    @{
                                        Account account = null;
                                        if (HttpContext.Session.TryGetValue("Account", out var AccountData1))
                                        {
                                            account = System.Text.Json.JsonSerializer.Deserialize<Account>(AccountData1);
                                            int accountId = account.AccountId;
                                            if (account.Role == 1)
                                            {
                                                <a style="margin-left:5px" class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a>
                                                <a style="margin-left:5px" class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                                            }
                                            <a style="margin-left:5px" class="btn btn-info" asp-page="./Details" asp-route-id="@item.ProductId">Details</a>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                    
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    body {
        background-color: #f8f9fa; /* Màu nền tổng thể */
    }

    h1 {
        color: #343a40; /* Màu tiêu đề */
    }

    .dashboard-info {
        display: flex;
        align-items: center;
        background-color: #F5F5F5; /* Màu background của total label */
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        color: white; /* Màu chữ của total label */
        width: 33%; /* Chiều rộng chiếm 1/3 màn hình */
        height: 88px;
    }

    .dashboard-item {
        display: flex;
        justify-content: space-around;
        margin-bottom: 16px;
    }

    .total-label {
        font-size: 26px;
        font-weight: bold;
        margin-right: 10px;
        color: red;
        border-radius: 5px;
    }

    .info-values p {
        margin: 0;
        font-size: 18px;
        color: black; /* Màu chữ của thông tin giá và số lượng */
    }

    .table {
        width: 100%;
    }

        .table th, .table td {
            border: 1px solid #dee2e6; /* Màu đường viền của bảng */
            padding: 8px;
            text-align: center;
        }

        .table th {
            background-color: #343a40; /* Màu nền của header bảng */
            color: white; /* Màu chữ của header bảng */
        }

    .product-image {
        max-width: 76px; /* Kích thước ảnh sản phẩm */
        max-height: 76px;
    }
</style>