﻿@page
@model ProjectPRN221.Pages.BillDetail_View.DashboardModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1 class="text-center mb-4">Statistic</h1>

<div class="dashboard">
    <div class="dashboard-item" >
        <div style="background-color: #f5f5f5; border-radius: 12px; width:320px" class="py-2 px-4">
        <div class="total-label">TOTAL</div>
        <div class="info-values">
            <p>Product Name: @Model.GrandTotal</p>
            <p>Order: @Model.TotalOrder</p>
        </div>
    </div>
        <div style="background-color: #f5f5f5; border-radius: 12px; width:320px" class="py-2 px-4">
            <div class="total-label">Best Seller</div>
        <div class="info-values">
            <p>Price: @Model.BestProduct</p>
            <p>Order: @Model.ProductOrder</p>
        </div>
    </div>
        <div style="background-color: #f5f5f5; border-radius: 12px; width:320px" class="py-2 px-4">
        <div class="total-label">Lowest Selling</div>
        <div class="info-values">
            <p>Price: @Model.LowestProduct</p>
            <p>Order: @Model.ProductLowestOrder</p>
        </div>
    </div>
    </div>
</div>
<form method="get">
    <label for="sortCriteria">Sort by Sell:</label>
    <select id="sortCriteria" name="sortCriteria" class="form-control" onchange="this.form.submit()" style="width:30%">
        <option value="" selected>Default</option>
        <option value="BestProduct">Best Product</option>
        <option value="LowestProduct">Lowest Product</option>
    </select>
</form>


<div class="container mt-5">
   
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BillDetail[0].UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillDetail[0].Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillDetail[0].Bill.BillDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillDetail[0].Product)
                </th>
                <th>
                    Total Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BillDetail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bill.BillDate)
                    </td>
                    <td>
                        <img class="product-image" src="~/Images/@item.Product.ProductImage" alt="Product Image" />
                    </td>
                    <td>@(item.UnitPrice * item.Quantity)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    body {
        background-color: #f8f9fa; /* Màu nền tổng thể */
    }

    h1 {
        color: #343a40; /* Màu tiêu đề */
    }

    .dashboard-info {
        display: flex;
        align-items: center;
        background-color: #F5F5F5; /* Màu background của total label */
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        color: white; /* Màu chữ của total label */
        width: 33%; /* Chiều rộng chiếm 1/3 màn hình */
        height:88px;
    }

    .dashboard-item{
        display:flex;
        justify-content:space-around;
        margin-bottom:16px;
    }

    .total-label {
        font-size: 26px;
        font-weight: bold;
        margin-right: 10px;
        color:red;
        border-radius:5px;

    }

    .info-values p {
        margin: 0;
        font-size: 18px;
        color: black; /* Màu chữ của thông tin giá và số lượng */
    }

    .table {
        width: 100%;
    }

        .table th, .table td {
            border: 1px solid #dee2e6; /* Màu đường viền của bảng */
            padding: 8px;
            text-align: center;
        }

        .table th {
            background-color: #343a40; /* Màu nền của header bảng */
            color: white; /* Màu chữ của header bảng */
        }

    .product-image {
        max-width: 76px; /* Kích thước ảnh sản phẩm */
        max-height: 76px;
    }
</style>
