﻿@page
@using ProjectPRN221.Models;
@model ProjectPRN221.Pages.BillDetail_View.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Bill Details</h1>

 

    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.BillDetail[0].UnitPrice)</th>
                <th>@Html.DisplayNameFor(model => model.BillDetail[0].Quantity)</th>
                <th>@Html.DisplayNameFor(model => model.BillDetail[0].Bill)</th>
                <th>@Html.DisplayNameFor(model => model.BillDetail[0].Product)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BillDetail)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Bill.BillId)</td>
                    <td>
                        <img width="96px" height="96px" class="product-image" src="@Url.Content(item.Product.ProductImage)" alt="Product Image" />
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            @{
                                Account account = null;
                                if (HttpContext.Session.TryGetValue("Account", out var AccountData1))
                                {
                                    account = System.Text.Json.JsonSerializer.Deserialize<Account>(AccountData1);
                                    int accountId = account.AccountId;
                                    if (account.Role == 1)
                                    {
                                        //<a style="margin-left:5px" asp-page="./Edit" asp-route-id="@item.BillId" class="btn btn-warning">Edit</a>
                                        //<a style="margin-left:5px" asp-page="./Delete" asp-route-id="@item.BillId" class="btn btn-danger">Delete</a>
                                    }
                                }
                            }
                           
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
