﻿@page
@model ProjectPRN221.Pages.Category_View.DetailsModel

@{
    ViewData["Title"] = "Category Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Category Details</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Category Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Category.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Category.Description)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.Category?.CategoryId" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
