﻿@page
@model ProjectPRN221.Pages.Category_View.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Category List</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Category Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Category)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Category Actions">
                            <a style="margin-left:5px" class="btn btn-info" asp-page="./Details" asp-route-id="@item.CategoryId">Details</a>
                            <a style="margin-left:5px" class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.CategoryId">Edit</a>
                            @*<a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.CategoryId">Delete</a>*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
