﻿@using Microsoft.AspNetCore.Http;
@using ProjectPRN221.Models;
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxV/yYHYqAe94Ro0xludlZxegwJPa6/WABo/aB2KapQIwgyxx3BvaU5GgeiQhrz7JkiXpIR8mvJ7qOsmXT1RfA==" crossorigin="anonymous" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectPrn221</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assigment2_ver2.styles.css" asp-append-version="true" />
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container  d-flex align-items-center">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Shop</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1 justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Home/Home">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        <div class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="menuDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </button>
                            <div class="dropdown-menu" aria-labelledby="menuDropdown">
                                    @{
                                        Account account = null;
                                        if (Context.Session.TryGetValue("Account", out var AccountData1))
                                        {
                                            account = System.Text.Json.JsonSerializer.Deserialize<Account>(AccountData1);
                                            int accountId = account.AccountId;
                                            if (account.Role == 1)
                                            {
                                    <li class="nav-item hidden-menu">
                                        <a class="dropdown-item" asp-area="" asp-page="/Category_View/Index">Category Manager</a>
                                    </li> 
                                    <li class="nav-item hidden-menu">
                                        <a class="dropdown-item" asp-area="" asp-page="/Account_View/AccountManager">Account Manager</a>
                                    </li>
                                    <li class="nav-item hidden-menu">
                                        <a class="dropdown-item" asp-area="" asp-page="/Supplier_View/Index">Supplier Manager</a>
                                    </li>

                                    <li class="nav-item hidden-menu">
                                        <a class="dropdown-item" asp-area="" asp-page="/Bill_View/Index">Bill Manager</a>
                                    </li>
                                    <li class="nav-item hidden-menu">
                                        <a class="dropdown-item" asp-area="" asp-page="/BillDetail_View/Dashboard">Statistic</a>
                                    </li>
                                            }

                                //<li class="nav-item hidden-menu">
                                //    <a class="dropdown-item" asp-area="" asp-page="/Product_View/Index">Product Manager</a>
                                //</li>
                                <li class="nav-item hidden-menu">
                                    <a class="dropdown-item" asp-area="" asp-page="/Account_View/Profile" asp-route-id="@account.AccountId"> <i class="fas fa-user"></i> Profile</a>
                                </li>
                                <li class="nav-item hidden-menu">
                                    <a class="dropdown-item" asp-area="" asp-page="/Cart/Cart">Cart</a>
                                </li>
                                            if (account.Role == 0)
                                            {
                                    <li class="nav-item hidden-menu">
                                        <a class="dropdown-item" asp-area="" asp-page="/Home/Index">Glasses</a>
                                    </li>
                                            }
                                        }
                                    }
                </div>
            </div>
            </div>

            <div class="d-flex align-items-center">
                            @if (Context.Session.TryGetValue("Account", out var AccountData))
                            {
                                account = System.Text.Json.JsonSerializer.Deserialize<Account>(AccountData);
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Account_View/Logout">Log Out</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <span class="nav-link text-dark">Hello @account.FullName</span>
                    </li>
                            }
                            else
                            {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Account_View/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Account_View/Login">Login</a>
                    </li>
                            }
            </div>
            </ul>
            </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ProjectPRN - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        // Ẩn tất cả các mục menu khi trang được tải
        $('.hidden-menu').hide();

        // Xử lý sự kiện khi người dùng ấn vào nút để hiển thị menu
        $('#menuDropdown').on('click', function () {
            $('.hidden-menu').toggle();
        });
    });
</script>
